<div class="container">
  <h1>Calculator</h1>

  <div class="maindisplay">
    <div class="subdisplay">{{ subText }}</div>
    {{ mainText }}
  </div>

  <br><br>

  <table> 

    <tr> 
       <td><input class="calc-button" type="button" value="1" (click)="pressKey('1')"/> </td> 
       <td><input class="calc-button" type="button" value="2" (click)="pressKey('2')"/> </td> 
       <td><input class="calc-button" type="button" value="3" (click)="pressKey('3')"/> </td> 
       <td><input class="calc-button" type="button" value="/" (click)="pressKey('/')"/> </td> 
    </tr> 
    <tr> 
       <td><input class="calc-button" type="button" value="4" (click)="pressKey('4')"/> </td> 
       <td><input class="calc-button" type="button" value="5" (click)="pressKey('5')"/> </td> 
       <td><input class="calc-button"type="button" value="6" (click)="pressKey('6')"/> </td> 
       <td><input class="calc-button" type="button" value="-" (click)="pressKey('-')"/> </td> 
    </tr> 
    <tr> 
       <td><input class="calc-button" type="button" value="7" (click)="pressKey('7')"/> </td> 
       <td><input class="calc-button" type="button" value="8" (click)="pressKey('8')"/> </td> 
       <td><input class="calc-button" type="button" value="9" (click)="pressKey('9')"/> </td> 
       <td><input class="calc-button" type="button" value="+" (click)="pressKey('+')"/> </td> 
    </tr> 
    <tr> 
       <td><input class="calc-button" type="button" value="."(click)="pressKey('.')"/> </td> 
       <td><input class="calc-button" type="button" value="0" (click)="pressKey('0')"/> </td> 
       <td><input class="calc-button" type="button" value="c" (click)="allClear()"/> </td> 
       <td><input class="calc-button" type="button" value="x" (click)="pressKey('x')"/> </td> 
    </tr> 
 </table> 
<br>
<input class="calc-button" type="button" value="=" (click)="getAnswer()"/>
 

</div>